* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    background-image: url(imagenes/fondo7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-section, .output-section {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

textarea, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

h1 {
    text-align: center;
    padding: 20px 0;
    background-image:url(imagenes/cifrado1.jpg); 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #ffffff;
    font-family: fantasy;
    font-size: 40px;
  }
 
  h2, h3 {
  font-family: cursive;
  color: #302e2e;
  font-size: 20px;
}
